.header {
  width: 100vw;
  height: 6vh;
  min-height: 2.4rem;
  background-color: #3a1182;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  box-sizing: border-box;
  position: fixed;
  z-index: auto;
}

.right-side-items {
  display: flex;
  height: 60%;
  width: 50%;
}

.header nav {
  width: 50%;
  height: 60%;
}

.header li,
.right-side-items > * {
  margin: 0 1%;
}

.logo {
  height: 100%;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  justify-content: end;
}

.input-container {
  position: relative;
  width: 16rem;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.quiz-name-input {
  all: unset;
  background-color: #5d409c;
  color: white;
  border-radius: 4px;
  padding: 0.2rem 0.8rem;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  box-sizing: border-box;
}

.quiz-name-input::placeholder {
  color: white;
}
