@font-face {
    font-family: 'Noto Sans';
    src: url(../../fonts/NotoSansHebrew-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url(../../fonts/NotoSansHebrew-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-image: url('../../assets/kaboomBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parent-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.child-div {
    width: 90%;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 6px;
}

.pin-input {
    margin-bottom: 0.2rem;
    text-align: center;
    border-radius: 4px;
    padding: 0.4rem;
    color: #B2B2B2;
    border-color: #B2B2B2;
    font-family: 'Noto Sans';
    font-weight: bold;
}

.join-button {
    background-color: #333333;
    color: white;
    border-radius: 4px;
    padding: 0.4rem;
    font-family: 'Noto Sans';
    font-weight: bold;
}

.info {
    position: absolute;
    bottom: 0.5rem;
    text-align: center;
    color: white;
    left: 50%;
    transform: translateX(-50%);
}

.info-text, .credit-text {
    margin: 0;
    font-family: 'Noto Sans';
}

.info-text {
    font-weight: bold;
}




.buttons-box {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* pushes the divs to the right */
  width: 100%;
  position: relative;
  gap: 12px;
}

.kaboom-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.player-number-box {
  display: flex;
  align-items: center;
  gap: 6px;
}