.two-times-scoring {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  text-align: center;
}

.two-times-text {
  font-size: var(--fs-h2);
  letter-spacing: -5px;
}

.scoring-text {
  font-size: var(--fs-h3);
}

.two-times-text,
.scoring-text {
  transform: rotate(-11.78deg);
  line-height: 0.9;
  -webkit-text-stroke: 0.2em rgb(240, 240, 240);
  paint-order: stroke fill;
}
