.score-title {
    background-color: white;
    width: 100vw;
    padding: 2vh;
    text-align: center;
    font-weight: 700;
    color: #333333;
    font-size: clamp(22px, 2.2vmax, 26px);
    box-sizing: border-box;
}

.btn {
    background-color: white;
    text-align: center;
    font-weight: 600;
    padding: 1vh 2vh;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    font-size: clamp(12px, 1vmax, 22px);
    margin-top: 4vh;
    margin-left: 4vh;
    display: block;
    margin-right: auto;
}

.btn:hover {
    cursor: pointer;
}

.Leaderboard-container {
    margin: 4vh auto;
    width: 60vw;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Leaderboard-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1.5vh;
    margin-bottom: 1vh;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    font-size: clamp(20px, 2vmax, 24px);
    user-select: none;   
}

.Leaderboard-line:first-child {
    background-color: white;
    color: #333333;
}

.right-side-items {
    display: flex;
    gap: 1.5vh;
    align-items: center;
}

.left-side-items {
    display: flex;
    gap: 1vh;
    align-items: center;
}

.down {
    transform: rotate(180deg);
}

.bolder {
    font-weight: 900;
}