.rank-container {
  width: fit-content;
  transform: translateY(100vh);
}

.animate-1 {
  animation: moveUp 1s ease 2s forwards;
  z-index: 1;
}

.animate-2 {
  animation: moveUp 1s ease 1s forwards;
}

.animate-3 {
  animation: moveUp 1s ease forwards;
}

.nickname {
  color: white;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin-bottom: 1vh;
}

.first-place-width {
  width: 12vw;
}

.purple-rectangle {
  background-color: #6643b6;
  width: 10vw;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 4px;
}

.rank-1 {
  height: 60vh;
  width: 12vw;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  clip-path: inset(0 -15px 0 -15px);
}

.rank-2 {
  height: 54vh;
}

.rank-3 {
  height: 45vh;
}

.points {
  color: white;
  font-weight: 800;
}

.rank-img {
  width: 50%;
  margin: 10% 0;
}

@keyframes moveUp {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}
