.flex {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  padding: 2%;
}

.question {
  background-color: white;
  width: fit-content;
  font-weight: 700;
  max-width: 60vw;
  text-align: center;
  padding: 0.8%;
  border-radius: 4px;
  font-size: var(--fs-h5);
}

.top-btn {
  position: absolute;
  left: 2%;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  width: 120px;
}

.players-answered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: white;
  line-height: 1;
}

.question-img {
  height: 30vh;
  /* aspect-ratio: 3/2; */
}

.players-answered-num {
  font-size: var(--fs-h1);
}

.players-answered-text {
  font-size: var(--fs-h3);
  color: #b98ddb;
  font-weight: 600;
}

.answered-and-time-container {
  display: flex;
  width: 100vw;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 4vh 3vh 0 3vh;
  box-sizing: border-box;
}

.bar-indicators-wrapper {
  display: flex;
  width: 100vw;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  align-items: center;
  padding: 4vh 3vh;
  box-sizing: border-box;
}

.double-score {
  padding-top: 2vh;
  height: 98vh !important;
}
