.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  background-color: rgba(240, 240, 240, 0.95);
  color: #333333;
  text-align: center;
  font-size: clamp(24px, 2vmax, 32px);
  font-weight: 700;
}

.content p {
  width: 70%;
  padding: 2% 15%;
}

.question-count {
  position: absolute;
  top: 4%;
  background-color: #d9d5e4;
  color: #333333;
  font-size: clamp(16px, 2vmax, 24px);
  font-weight: 700;
  padding: 0.5% 3% 0.5% 1.5%;
  border-radius: 4px 0px 0px 4px;
}
