.flex {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  align-items: center;
  flex: 1;
}
.center {
  justify-self: center;
}

.background {
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
}

.question-editing {
  position: absolute;
  height: 94vh;
  width: 83vw;
  left: 0;
  bottom: 0;
  padding: 3vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 3vh;
  box-sizing: border-box;
}

.questions-slides {
  background-color: white;
  width: 17vw;
  height: 94vh;
  /* min-width: 200px; */
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 94vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  box-sizing: border-box;
}

.questions-slides > * {
  flex: 0 0 auto;
}

.question-text-input {
  all: unset;
  background-color: white;
  padding: 4vh;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #dadada;
  font-weight: 600;
  color: black;
  font-size: clamp(14px, 2vmax, 24px);
}

.blue-btn {
  background-color: #1368ce;
  box-shadow: 0 3px 0 0 #04389d;
  border-radius: 5px;
  padding: 1vh 4vh;
  cursor: pointer;
  font-size: clamp(12px, 1vmax, 20px);
  color: white;
  font-weight: 700;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.blue-btn:hover {
  background-color: #1363c6;
}

.blue-btn:active {
  transform: translateY(3px);
  box-shadow: 0 0 0 transparent;
}

.slider-wrap {
  color: black;
  position: relative;
  width: 8vw;
  min-width: 100px;
  --thumb: 53px;
  --steps: 2;
  direction: ltr;
  justify-self: center;
}

.range-thumb-label {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  white-space: nowrap;
  font-weight: 700;
  left: calc(
    (var(--index) / var(--steps)) * (100% - var(--thumb)) + (var(--thumb) / 2)
  );
}

.input-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  height: 20px;
  background: transparent;
  background:
    radial-gradient(circle at center, #b2b2b2 6px, transparent 6.1px) left 50% /
      12px 12px no-repeat,
    radial-gradient(circle at center, #b2b2b2 6px, transparent 6.1px) right
      50% / 12px 12px no-repeat;
}

/* Chrome, Safari, Edge */
.input-range::-webkit-slider-runnable-track {
  background: #b2b2b2;
  height: 2px;
}

/* Firefox */
.input-range::-moz-range-track {
  background: #b2b2b2;
  height: 2px;
}

/* Chrome, Safari, Edge */
.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 53px;
  background: white;
  border-radius: 25px;
  margin-top: -19px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

/* Firefox */
.input-range::-moz-range-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 53px;
  background: white;
  border-radius: 25px;
  margin-top: -19px;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

/* Chrome, Safari, Edge, and Opera */
.input-range:hover::-webkit-slider-thumb {
  background-color: #E0E0E0;
  cursor: pointer;
}

/* Firefox */
.input-range:hover::-moz-range-thumb {
  background-color: #E0E0E0;
  cursor: pointer;
}

/* 3. Active state (while clicking and dragging) */
.input-range:active::-webkit-slider-thumb {
  background: #411E88; 
}

.input-range:active + .range-thumb-label {
  color: white;
}
