.background {
  background-color: #f2f2f2;
}

.screen-items-flex {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

.questions-slides {
  background-color: white;
  width: 245px;
  min-width: 240px;
  flex-shrink: 0;
  height: 94vh;
  max-height: 94vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  box-sizing: border-box;
}

.questions-slides::-webkit-scrollbar {
  width: 6px;
}

.questions-slides::-webkit-scrollbar-thumb {
  background: #ccc;
}

.questions-slides::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.questions-slides > * {
  flex: 0 0 auto;
}

.add-slide-btn {
  padding: 0.5rem 2.2rem;
  background-color: #1368ce;
  box-shadow: 0 3px 0 0 #04389d;
  color: white;
  border-radius: 6px;
  margin: 5% 0;
}

.add-slide-btn:hover {
  background-color: #1363c6;
}
