.flex {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  align-items: center;
  flex: 1;
}

.center {
  position: relative;
  justify-self: center;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.center p {
  left: 50%;
  transform: translate(-50%, -180%);
  position: absolute;
  text-align: center;
}

.background {
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
}

.question-editing {
  position: absolute;
  height: 94vh;
  width: 83vw;
  left: 0;
  bottom: 0;
  padding: 3vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 3vh;
  box-sizing: border-box;
}

.questions-slides {
  background-color: white;
  width: 17vw;
  height: 94vh;
  /* min-width: 200px; */
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 94vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  box-sizing: border-box;
}

.questions-slides > * {
  flex: 0 0 auto;
}

.question-text-input {
  all: unset;
  background-color: white;
  padding: 4vh;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 3px 0 0 #dadada;
  font-weight: 700;
  color: black;
  font-size: clamp(14px, 2vmax, 24px);
}

.blue-btn {
  background-color: #1368ce;
  box-shadow: 0 3px 0 0 #04389d;
  border-radius: 5px;
  padding: 1vh 4vh;
  cursor: pointer;
  font-size: clamp(12px, 1vmax, 20px);
  color: white;
  font-weight: 700;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.blue-btn:hover {
  background-color: #1363c6;
}

.blue-btn:active {
  transform: translateY(3px);
  box-shadow: 0 0 0 transparent;
}

.semi-bold {
 font-weight: 600;
}