@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(../fonts/Montserrat-Regular.ttf) format('ttf');
    /* Adjust path and format */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(../fonts/Montserrat-Bold.ttf) format('ttf');
    /* Adjust path and format */
    font-weight: bold;
    font-style: normal;
}

body {
    background-image: url('../assets/kaboomBackground.png');
    background-repeat: no-repeat;
    /* Prevents the image from tiling */
    background-size: cover;
    /* Scales the image to cover the entire container while maintaining aspect ratio */
    background-position: center;
    /* Centers the image */
    background-attachment: fixed;
}

.parent-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.child-div {
    width: 90%;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 6px;
}

.pin-input {
    margin-bottom: 0.2rem;
    text-align: center;
    border-radius: 4px;
    padding: 0.4rem;
    color: #B2B2B2;
    border-color: #B2B2B2;
    font-family: 'Montserrat';
    font-weight: bold;
}

.join-button {
    background-color: #333333;
    color: white;
    border-radius: 4px;
    padding: 0.4rem;
    font-family: 'Montserrat';
    font-weight: bold;
}

.info {
    position: absolute;
    bottom: 0.5rem;
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    left: 50%;
    /* Moves the left edge to the horizontal center of the parent */
    transform: translateX(-50%);
}

.infoText {
    margin: 0;
}