.layout {
  display: flex;
  height: 100%;
  width: 100%;
}

.layout div {
  padding: 1%;
}

.layout div::-webkit-scrollbar {
  width: 10px;
}

.layout div::-webkit-scrollbar-thumb {
  background: #ccc;
}

.layout div::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.category-list {
  width: 25%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.category-btn {
  all: unset;
  padding: 5%;
  font-weight: 700;
  border-radius: 4px;
  flex: 1;
}

.category-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.category-btn:focus {
  background-color: #3a1182;
  color: white;
}

.media-grid {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: max-content;
  gap: 1%;
  overflow-y: auto;
}

.image {
  width: 100%;
  min-width: 98px;
  aspect-ratio: 3/2;
}

.card-content {
  overflow-y: hidden;
  width: 45vw;
  aspect-ratio: 3/2;
  min-width: 450px;
}
