.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3vh 2.5vw;
  margin-top: 1vh;
  margin-bottom: 5vh;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  backface-visibility: hidden;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.active {
  opacity: 1;
  transform: translateY(0);
}