.container {
  padding: 0.6vw;
  position: relative;
  width: fit-content;
}

.hoverOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-weight: 600;
  opacity: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  z-index: 1;
  transition: opacity 0.2s ease;
}

.testImg:hover .hoverOverlay {
  opacity: 1;
}

.option-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: 6px;
  padding: 1vh;
  cursor: pointer;
  font-size: clamp(12px, 1vmax, 20px);
}

.blue-btn {
  background-color: #0542b9;
  box-shadow: 0 3px 0 0 #04389d;
  border-radius: 5px;
}

.blue-btn:hover {
  background-color: #053caa;
}

.blue-btn:active {
  transform: translateY(3px);
  box-shadow: 0 0 0 transparent;
}

.icon {
  width: 16%;
}

.transparent-btn:hover img {
  filter: brightness(0.7);
  transition: 0.3s;
}

.transparent-btn:hover span {
  color: rgb(194, 190, 190);
  transition: 0.3s;
}

.img {
  position: relative;
  width: 14vw;
  min-width: 100px;
  height: 9vw;
  border-radius: 5px;

  background: #c0c0c0;

  /* needed for shimmer layer */
  position: relative;
  overflow: hidden;
}

.testImg {
  width: 14vw;
  min-width: 100px;
  height: 9vw;
  border-radius: 5px;
  background: #c0c0c0;
  position: relative;
  overflow: hidden;
  display: block;
  background-size: 101% 101%;
  background-position: center;
}

/* dark tint layer */
.testImg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0); /* start transparent */
  transition: opacity 0.2s ease;
}

/* on hover → add tint */
.testImg:hover::after {
  background: rgba(0, 0, 0, 0.707);
}

.question-num {
  position: absolute;
  bottom: 0.8vh;
  right: 0.8vh;
  font-weight: 700;
  background-color: #0f0f0f4d;
  font-size: clamp(12px, 0.9vmax, 20px);
  padding: 0.3vh 0.6vh;
  border-radius: 4px;
}

.product-course {
  color: #b4b4b4;
  font-size: clamp(12px, 0.7vmax, 15px);
}

.product-title {
  color: white;
  font-weight: 600;
  font-size: clamp(12px, 1vmax, 20px);
}

.skeleton {
  position: relative;
  overflow: hidden;
  background: #c0c0c0;
  margin-top: 0.8vh;
  border-radius: 10px;
}

.skeleton::after,
.img::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  animation: shimmer 1.2s infinite;
}

/* for the skeleton text */

.product-title-loading {
  width: 6vw;
  height: 1.5vh;
}

.product-course-loading {
  width: 4vw;
  height: 1.5vh;
}

.question-num-loading {
  background-color: #0f0f0f4d;
  position: absolute;
  bottom: 0.8vh;
  right: 0.8vh;
  width: 4vw;
  height: 2vh;
  border-radius: 10px;
}

@keyframes shimmer {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
