.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;

  margin-top: 1vh;
  margin-bottom: 5vh;
}

.product-list:last-child {
  margin-bottom: 0;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  backface-visibility: hidden;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.active {
  opacity: 1;
  transform: translateY(0);
}
