.header {
  width: 100vw;
  height: 6vh;
  min-height: 2.4rem;
  background-color: #3a1182;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4vh;
  padding-right: 4vh;
  font-size: 1.7vmin;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.right-side-items {
  display: flex;
  gap: 2vh;
}

.logo {
  height: 3vh;
  width: auto;
  padding: 0;
  margin: 0;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* gap: 2vh; */
  align-items: baseline;
}

.input-container {
  position: relative;
  width: 16vw;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%); 
}

.quiz-name-input {
  all: unset;
  background-color: #5D409C;
  color: white;
  border-radius: 4px;
  padding: 0.2rem 0.8rem;
  width: 100%;
  height: 100%;
  padding-left: 35px; 
  box-sizing: border-box;
}

.quiz-name-input::placeholder {
  color: white;
}
