.align-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 68%;
  aspect-ratio: 3/2;
  position: relative;
  margin: 1rem auto;
  background-color: #d9d9d9;
  text-align: center;
  border-radius: 4px;
}

.zoom-input {
  width: 30%;
}

.zoom-input input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  background: #888888;
  border-radius: 8px;
  color: transparent;
  cursor: pointer;
}

.zoom-input input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #d9d9d9;
  cursor: pointer;
}

.zoom-input input[type="range"]::-moz-range-thumb {
  width: 16px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #d9d9d9;
  cursor: pointer;
}

.zoom-input input[type="range"]:focus {
  outline: none;
}

.actions {
  display: flex;
  justify-content: center;
  width: 100%;
}

.actions > * {
  margin: 1%;
}
