.circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  text-align: center;
  font-weight: 600;
  padding: 0.6rem;
  position: absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  transition:
    transform 0.4s ease,
    opacity 0.3s ease;
}

.big {
  width: 4vw;
  height: 4vw;
  min-width: 40px;
  min-height: 40px;
  font-weight: 800;
}

.small {
  width: 2.5vw;
  height: 2.5vw;
  min-width: 20px;
  min-height: 20px;
}
