.container {
  padding: 2vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.title {
  font-weight: 600;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.container input {
  all: unset;
  border: solid 2px #afb2af;
  color: #afb2af;
  padding: 10px 12px 10px 3.5rem;
  border-radius: 7px;
  box-sizing: border-box;
  width: 100%;
}

.counter {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.75rem;
  color: gray;
  pointer-events: none;
}
