.container {
  display: flex;
  flex-direction: column;
  padding: 2vh;
  gap: 0.5vh;
}

.title {
  font-weight: 600;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.container input {
  all: unset;
  border: solid 2px #afb2af;
  color: #afb2af;
  padding: 10px 12px 10px 3.5rem;
  border-radius: 7px;
  box-sizing: border-box;
  width: 100%;
}

.input-wrapper.half-width {
  width: 50%;
}

.counter {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.75rem;
  color: gray;
  pointer-events: none;
}

.side-to-side-box {
  display: flex;
}
