.container {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #7d7d7d;
  font-weight: 600;
  padding: 0.7rem;
  box-sizing: border-box;
  direction: rtl;
}

.container:hover {
  background-color: #eeeeee;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.bigger-text {
  font-size: clamp(12px, 1.2vmax, 16px);
}

.smaller-text {
  font-size: clamp(10px, 1vmax, 14px);
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: clamp(12px, 1.2vmax, 16px);
}

.permission {
  all: unset;
  padding: 0.7rem;
  box-sizing: border-box;
}

.changable-permission {
  all: unset;
  padding: 0.7rem;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.dropdown:hover .changable-permission {
  background-color: #dfdfdf;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 100%;
  z-index: 9999;
}

.open {
  display: block;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f6f6f6;
}
