.container {
  font-size: clamp(12px, 1.2vmax, 16px);
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #7d7d7d;
  font-weight: 600;
  padding: 0.7rem;
  box-sizing: border-box;
  direction: rtl;
  gap: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.tag {
  white-space: nowrap;
}

.delete-btn {
  padding: 0.5rem;
  box-sizing: border-box;
  width: 4rem;
  text-align: center;
  text-decoration: underline;
}

.delete-btn:hover {
  color: #999999;
  cursor: pointer;
}
