.centering {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(28px, 2vh, 38px);;
    height: 100vh;
    color: white;
    text-align: center;
}

.symbol {
    height: 100%;
    height: 100%;
    object-fit: contain;
}

.correct, .mistaken {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vmax;
    height: 3vmax;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    padding: 1vmax;
    border: solid 0.3vmax white;
}

.correct {
    background-color: #26890C;
}

.mistaken {
    background-color: #FF3355;
}

.title {
    font-weight: 700;
    font-size: var(--fs-h3);
}

.text {
    font-weight: 700;
}

p {
    margin: 0;
}