.centering {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: clamp(28px, 2vh, 38px);
  height: 100vh;
  color: white;
  text-align: center;
}


.correct,
.wrong {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4%;
  min-width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: solid 4px white;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}

.correct {
  background-color: #26890c;
  background-image: url("../../assets/correct.svg");
}

.wrong {
  background-color: #ff3355;
  background-image: url("../../assets/mistake.svg");
}

.title {
  font-weight: 700;
  font-size: var(--fs-h3);
}

.text {
  font-weight: 700;
}

p {
  margin: 0;
}
