.centering {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(28px, 2vh, 38px);;
    height: 100vh;
    color: white;
    text-align: center;
}

.symbol {
    width: 6vh;
}

.correct, .mistaken {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    padding: 0.8rem;
    border: solid 0.2rem white;
}

.correct {
    background-color: #26890C;
}

.mistaken {
    background-color: #FF3355;
}

.title {
    font-weight: 600;
    font-size: clamp(28px, 2vmax, 40px);
}

.text {
    font-weight: 400;
    font-size: clamp(14px, 1.2vmax, 30px);
}

p {
    margin: 0;
}