.container {
  padding: 2vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.title {
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.container input {
  all: unset;
  border: solid 2px #afb2af;
  color: #afb2af;
  padding: 10px 12px 10px 3.5rem;
  border-radius: 7px;
  box-sizing: border-box;
  width: 100%;
  font-weight: 600;
}

.counter {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.75rem;
  color: gray;
  pointer-events: none;
}

.container div p {
  display: inline-block;
}

.shared-with-div {
  direction: ltr;
  max-height: 165px;
  overflow-y: auto;
}

.shared-with-div::-webkit-scrollbar {
  width: 10px;
}

.shared-with-div::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 7px;
}

.shared-with-div::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 10px;
  border: 2px solid #d9d9d9;
}

.shared-with-div::-webkit-scrollbar-thumb:hover {
  background: #666565;
}

.brackets {
  font-size: clamp(12px, 0.8vmax, 14px);
  font-weight: 600;
}

.buttons-flex {
  padding: 0 2vh 2vh 2vh;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.overOverlay {
  width: 20vw;
  min-width: 300px;
  text-align: center;
}

.text {
  padding: 4vh 2vh;
  font-weight: 700;
}
