.btn {
  all: unset;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  width: fit-content;
  border-radius: 3px;
  transition:
    transform 0.15s ease,
    box-shadow 0.15s ease;
  padding: 0.2rem 0.8rem;
  font-size: var(--fs-button);
}

.btn:active {
  transform: translateY(3px);
  box-shadow: 0 0 0 transparent;
}

.white-btn {
  color: black;
  background-color: white;
  box-shadow: 0 3px 0 0 #d9d9d9;
}

.blue-btn {
  color: white;
  background-color: #0542b9;
  box-shadow: 0 3px 0 0 #04389d;
}

.red-btn {
  color: white;
  background-color: #730000;
  box-shadow: 0 3px 0 0 #400000;
}

.black-btn {
  color: white;
  background-color: #333333;
  box-shadow: 0 3px 0 0 black;
}

.btn:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #cfcfcf;
  box-shadow: 0 3px 0 0 #acacac;
}
