.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
}

.card {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  min-width: 50vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #6e2ee5;
  padding: 1rem;
}

.btn {
  cursor: pointer;
}

.header p {
  margin: 0;
  font-size: clamp(22px, 2.2vmax, 26px);
  font-weight: bold;
}

.content {
  height: fit-content;
}
