.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
}

.card {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #6e2ee5;
  padding: 1rem;
  direction: rtl;
  max-height: 10vh;
}

.btn {
  all: unset;
  background-image: url("../../assets/closeIcon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1;
  width: 2rem;
  cursor: pointer;
}

.header p {
  margin: 0;
  font-size: clamp(22px, 2.2vmax, 26px);
  font-weight: bold;
}

.content {
  height: fit-content;
  max-height: 70vh;
  overflow-y: auto;
  direction: rtl;
}

.content::-webkit-scrollbar {
  width: 10px;
}

.content::-webkit-scrollbar-thumb {
  background: #ccc;
}

.content::-webkit-scrollbar-thumb:hover {
  background: #999;
}
